root { 
    display: block;
}

.context-dark, .bg-gray-dark, .bg-primary {
    color: rgba(255, 255, 255, 0.8);
}

.footer-classic a, .footer-classic a:focus, .footer-classic a:active {
    color: #ffffff;
}
.nav-list li {
    padding-top: 5px;
    padding-bottom: 5px;
}

.nav-list li a:hover:before {
    margin-left: 0;
    opacity: 1;
    visibility: visible;
}

ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 23px;
    font: 900 13px/1 "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
}
.social-container .col {
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.nav-list li a:before {
    content: "\f14f";
    font: 400 21px/1 "Material Design Icons";
    color: #4d6de6;
    display: inline-block;
    vertical-align: baseline;
    margin-left: -28px;
    margin-right: 7px;
    opacity: 0;
    visibility: hidden;
    transition: .22s ease;
}

*{
    padding: 0px;
    margin: 0px;
}
body{    
    text-align:center;    
}
#login_in{
    position: absolute;
    top: 10px;
    left: 600px;
}
#date{
    position: absolute;
    top: 10px;
    left: 400px;
    float: right;
}
#invalid_login{    
    position: absolute;
    top: 10px;
    left:400px;
    float:right;
}
#user_info{
    position:absolute;
    top:10px;
    left:650px;

}
#wrong_user{
    position:absolute;
    top:10px;
    left:400px;
    float:right;
}
.logmeout{
    position:absolute;
    top:10px;
    left:1000px;
    float:right;
    text-align: right;
}

#big_wrapper{
    text-align:left;
    width: 1000px;
    border: 3px yellowgreen solid;
    margin: 60px auto;
}

#top_header{
    font-weight: bold;
    font-size: 20px;
    font-style: normal;
    background-color: green; 
    color: white;    
    padding:20px;
    text-align: center;    
}

#links{
    border: 2px bisque solid;
    font-style: italic;
    background-color: black ;
   
  color: white;
    padding: 10px;
}
#links li{
    list-style: none;
    font-size: 14px;
    display: inline-block;     
    padding-left: 80px;
    padding-right: 80px;
}
/*li a.hover{
    background-color: aqua;
    color : white;
    list-style: none;   
}
*/

#main_content{
    float:left;
    width: 660px;    
}
#main_article{
    padding:20px;
    margin:30px;
    border: 2px black double;
}
#inner_article{
    margin-top:20px;
    padding:4px;
    border: 2px coral solid;
}
#inner_artcile_heading{
    font-weight: bold;    
}
#inner_artcile_dealer{
    font-style: italic;    
}
#quantity{    
    float: right;   
}
#add_to_cart{
    position: absolute;
    margin:1px;
    float: right;   
    top:240px;
    left:700px;     
}
#total_cart_items{
    position: absolute;
    margin:1px;
    float: right;   
    top:240px;
    left:400px;     
}
#finish_n_checkout{
    position: absolute;
    margin:1px;
    float: right;   
    top:210px;
    left: 700px;    

}

#table_data_dont_update_this{
    width:100px;
}
#updates{
    float: left;
    border: 2px chocolate solid;
    padding: 20px;
    width: 200px;    
    margin-top: 15px;
    margin-bottom:10px;
}


#the_footer{
    clear:both;
    text-align:center;
    padding: 20px;
    border-top: 1px brown solid;
    background-color: brown;
}





